@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

.App {
  background: transparent;
}

body {
  font-family: "Comfortaa";
}

.dark {
  color: #666666 !important;
  font-weight: bold !important;
}

.dark:hover {
  color: #dddddd !important;
  border: black 1px !important;
}
