.App {
  background: transparent;
  width: 100vw;
  height: 100vh;
}

.dark {
  color: #666666 !important;
  font-weight: bold !important;
}

.dark:hover {
  color: #dddddd !important;
  border: black 1px !important;
}

@media screen and (max-width: 600px) {
  .brand-mobile {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .brand-desktop {
    display: none;
  }
}
